@tailwind base;
@tailwind components;
@tailwind utilities;
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.overlay-content {
  max-width: 90%;
  max-height: 90%;
}

.overlay-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}
.arrow_box {
  position: absolute;
  transform: translateX(50%);
  background-color: #1e293b;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.arrow_box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #1e293b transparent transparent transparent;
}
@media (max-width: 768px) {
  .arrow_box::after {
    top: 100%;
    left: 85%;
  }
}
