@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #87a3a6ff;
  padding: 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
